ul,p,h1,h2,h3{margin: 0;}

ul{padding-left: 0;}



body{font-family: 'Roboto', sans-serif;
color: #434455;
background: #FFF;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Montserrat', sans-serif; */
header{ }

/* приклеєний футер .. */
.page-container{ min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{flex-grow: 1;}
.header-inner{  
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.navi{ display: flex; 
    flex-direction: row; 
    align-items: center;
    height: 72px;
    flex-shrink: 0;
    align-items: center;
    
}
.menu{ display: flex;
    gap: 40px;
padding: 0;}
.li-nav{ 
    
}

.logo-top {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-right: 76px;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.address-ul{ display: flex;
gap: 40px;}
.inner-social{ display: flex;
justify-content: space-between;
flex-direction: row;
align-items: center;
flex-flow: row nowrap;
height: 72px;
flex-shrink: 0;
}
.inner-nav{ display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
 flex-flow: row nowrap;
  height: 72px;
    flex-shrink: 0;}

.link{ color: #2e2f42;
    text-decoration: none;
    padding: 24px 0 24px;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.link::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;

    }
.link:hover{ color: #404bbf;}
.link:focus{ color: #404bbf;}
ul{list-style-type:none;
display: inline-flex;
}
.li-nav{ color: #2E2F42; 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 24px 0 24px;
    
   
 }
.li-nav:hover{ color:  #404bbf;}
.li-nav:focus{color: #404bbf;}
.link-ad{ color: #434455;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-ad:hover{ color:#404bbf;}
.link-ad:focus{ color: #404bbf;}
.address-style{font-style: normal;
display: flex;
gap: 40px;}

.address-list{display: flex;
    gap: 40px;}
.address-links{ color:#434455;
     line-height: 1.5;
    letter-spacing: 0.02em; 
    text-decoration: none;
    padding-right: 16px;}
.address-links:hover{color: #404bbf;}
.address-links:focus{ color:#404bbf;}

.sect-main{ background: #2E2F42;
padding-top: 188px;
padding-bottom: 188px;
padding-left: 0;
padding-right: 0;
background-image: linear-gradient(to bottom,rgba(46, 47, 66, 0.70),rgba(46, 47, 66, 0.70)), url(../images/people-office.jpg);
max-width: 1440px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

main{ width: auto;}
.h-main{ color:  #FFF;
    /* Header 1 */
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center;
    max-width: 496px;
    margin: auto;
   padding-bottom: 48px;}

.button{ background: #4D5AE5;
    color: #FFF;
    /* Button Text */
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.64px;
    cursor: pointer;
    display: block;
    margin: 0 auto; 
 min-width: 169px;
 height: 56px;
 border: none;
 border-radius: 4px;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
 }
.button:hover{background-color: #404bbf;}
.button:focus{ background: #404bbf;}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.sect-title{color: #2E2F42;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
margin-bottom: 72px;}

.back-sect{ background-color: #F4F4FD;
color: #2E2F42;
background: var(--CLOUD, #F4F4FD);}


.sect-cont-line{ display: flex;
flex-direction: row;
gap: 24px; 
padding: 0;
margin: 0;
}

.li-team{ background-color: #FFFFFF;
    display: inline-flex;
        padding-bottom: 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    width: calc((100% - 72px) / 3);
border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);}

.team-text{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
margin-bottom: 8px; padding: 32px 0 32px; }

.social-media-list-section{ display: flex;
justify-content: center;
gap: 24px;}
.social-media-section-li{width: 40px;
    height: 40px;

}
.social-media-link-section{
    width: 100%;
    height: 100%;
    display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: #4D5AE5;
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.social-media-link-section:hover{
    background-color: #404bbf;
}
.social-media-link-section:focus{
    background-color: #404bbf;
}
.li-sect-3-social-media{ width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sectcont{ width: calc((100% - 72px) / 4);
}
.vector-section{ display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background: var(--CLOUD, #F4F4FD);
    text-align: center;
    margin: 0px;
    padding: 0px;
 margin-bottom: 8px;}
.h-sect{ color: #2e2f42; 
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;  
   }

.h-section{
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;}
.inside-ul{ 
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 24px;
   padding: 0;}

.para{ color: #434455;
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    }
.para:hover{
    transform: translateY(0%);
}
.h-all{ color:  #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;} 

.sect-title-third{color: #2E2F42;
    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-transform: capitalize;
    text-align: center;
margin-bottom: 72px;}

.porfolio-li{ background-color: #FFFFFF;
    display: flex;
    width: 360px;
    height: 420px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0;
    border-bottom: 1px solid #E7E9FC;
    border-radius: 0px 0px 4px 0px;
    width: calc((100% - 48px) / 3);
 transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-li:hover{box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-li{transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.porf-ul{display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 0px;
    flex-shrink: 0;
    gap: 24px;
    row-gap: 48px;
}

.porf-text{ padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}
.container-img-card{ position: relative;
    overflow: hidden;

}
.para-img-card{ color: #F4F4FD;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-li:hover .para-img-card{transform: translateY(0%);
}
.container{ max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;}

.porf-inside{  }
.footer{ background-color: #2E2F42;
padding: 100px 0 100px;
display:inline-flex;

}
.footer-p{ color:#F4F4FD;
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    width: 264px;
    text-align: left;
margin-top: 18px;}
.logo-span{ color: #2E2F42;
    font-family: Raleway, sans-serif;   
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;}
.logo{ color: #F4F4FD;
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none; 
     display: inline-block;}
.logo-f{color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    text-decoration: none;
 display: inline-block;
margin-bottom: 16px;}

.section{ padding-top: 120px;
    padding-bottom: 120px;}
    /* #title {
    font-weight: 500;
    color: orange;
}  селектор id */

.images{ display: block;
    max-width: 100%;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.images:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
 



.footer-div{display: flex;
 align-items: baseline;
  }
.footer-logo-para{
    margin-right: 120px;
 }

.media-footer-box {

}
.para-social-media{ font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--WHITE, #FFF);
    margin-bottom: 16px;
}
.list-social-media{ display: flex;
    gap: 16px;
 }
.li-social-media{width: 40px;
    height: 40px;

 }
 .social-media-link{ display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
 height: 100%;
 background-color: #4D5AE5;
 border-radius: 50%;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); }
.social-media-link:hover{
    background-color: #31d0aa;
}
.social-media-link:focus{ background-color: #31d0aa; }
.svg-social-media{ fill: #F4F4FD ;}


/* footer button */
 
.footer-button{
    margin-left: 8%;

}
.footer-para{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.form-footer{ 
display: flex;
gap: 24px;

}
.form-label-footer{ 

}

.input-email-footer{
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
}
input::placeholder {
    color: var(--WHITE, #FFF);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.48px;
}
.button-subscribe {
    color: var(--WHITE, #FFF);
    text-align: center;
    /* Button Text */
font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    min-width: 165px;
    height: 40px;
    cursor: pointer;
    
}

.svg-social-media {
    fill: white;
    

}
.svg-subscribe{margin-left: 16px;
 fill: white;}

    /* modal */
.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-wind{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 padding: 72px 24px 24px 24px;
}
.modal-button{
position: absolute;
top: 24px;
right: 24px;
width: 24px;
height: 24px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
background-color: #e7e9fc;
border: 1px solid rgba(0, 0, 0, 0.1);
padding: 0;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-button:hover{
    background-color: #404bbf;
    border: none;

}
.modal-button:hover .close-svg{fill: #ffffff; }
.modal-button:focus{
    background-color: #404bbf;
    border: none;
}
.modal-button:focus .close-svg{ fill: #ffffff;}
.close-svg{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.para-modal{ 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;

}
.modal-w-form{
    margin-bottom: 8px;

 }

 .label-modal{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    display: block;
    margin-bottom: 4px;
 }
 .container-input-icon{
position: relative;
 }

 .input-modal{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

 }
 .input-modal:focus{ border-color: #4D5AE5;}
 
 .svg-modal{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
.input-modal:focus+ .svg-modal{fill:#4d5ae5;}

.modal-cont-comment{ 
    margin-bottom: 16px;

}
.textarea-modal{ 
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.textarea-modal:focus{
    border-color: #4D5AE5;
}
.container-checkbox-label{
    margin-bottom: 24px;

}
.input-privacy{
   
}
.label-user-privacy{ 
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;

}
.lable-span{ 
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;

}
.svg-vector{ 

}
.input-privacy:checked+ .label-user-privacy .lable-span{background-color: #404bbf; 
border: none;
fill: #F4F4FD;
}
.link-modal{ 
    color: #4d5ae5;
}
.modal-button-send{ 
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}